# ANTHROPIC_API_KEY=sk-ant-xxxxxxxx
NEXTAUTH_SECRET=xx
NEXTAUTH_URL=http://localhost:3000
# AUTH_EMAIL=admin@example.com
# AUTH_PASSWORD=change_me
DATABASE_URL=xxx
CHROMA_URL=http://chromadb:8000
OPENAI_API_KEY=xxx
GEMINI_API_KEY=xxx
GROQ_API_KEY=xxx
OPENROUTER_API_KEY=xxx

